p{

}
h1{

}
img{

}
.navbar ul {
    list-style-type: 
    margin: 0;
    padding: 0;
    overflow: 
    }
      
.navbar li {
    float: 
    }
      
.navbar li a { 
    display: 
    text-align:
    padding: 
    }
.navbar a{
    background-color:
}
.navbar a{
    text-decoration: 
    color: 
}