p{
    font: 1em sans-serif;
    font-size: x-large;
}
h1{
    display: block;
    text-align: center;
    font: 1em sans-serif;
    font-size: xx-large;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
          
.navbar li {
    float: left;
}
          
.navbar li a { 
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.home-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    margin: 0;
}
.home-image img{
    width: 520px;
    height: 720px;
    object-fit: fill;
}
.home-image,
.home-text{
    flex: 1;
    padding: 5%;
}

.about-container{
    display: flex;
    flex-direction: row;
    padding: 5%;
}
.about-text{
        padding: 10%;
}
.about-column{
    display: flex;
    flex-direction: column; 
    row-gap: 10px; 
    padding: 2%;
}
.about-column img{
    width: 420px;
    height: 520px;
    object-fit: fill;
}
.activities-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 50px; 
}
.activities-container img{
    width: 520px;
    height: 720px;
    object-fit: cover;
}
.activities-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    gap: 20px;
}
.activities-column img{
    width: 200px;
    height: 200px;
    object-fit: cover;
} 
.activities-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    gap: 20px;
}
.members-container{
    display: flex;
    flex-direction: row; 
    row-gap: 10px; 
}
.members-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    gap: 20px;
}
.members-column img{
    width: 200px;
    height: 200px;
    object-fit: cover;
} 
.members-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    gap: 20px;
}
.members-image{
    width: 520px;
    height: 720px;
    object-fit: cover;
}
.body{
    background-color: (133,211,143);
}