
p{
    font: 1em sans-serif;
    font-size: x-large;
}
h1{
    font: 1em sans-serif;
    font-size: xx-large;
}
.navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}
          
.navbar li {
        float: left;
}
          
.navbar li a { 
        display: block;
        text-align: center;
        padding: 14px 16px;
}
.container{
        display: flex;
        flex-direction: row;
}
.text{
        padding: 10%;
}
.about{
        display: flex;
        flex-direction: column;
}